lib/node-red-authorization-examples/flow.json
[
    {
        "id": "b226928597254811",
        "type": "comment",
        "z": "2d76fa36687aa026",
        "name": "basic HTTP authorization (w/o expiration)",
        "info": "",
        "x": 840,
        "y": 40,
        "wires": []
    },
    {
        "id": "044b8567a46bcbc1",
        "type": "function",
        "z": "2d76fa36687aa026",
        "name": "validate authorization",
        "func": "  let Credentials = msg.req.headers['authorization'] || ''\n  if (! Credentials.startsWith('Basic')) {\n    return withAuthorizationRequest()\n  }\n\n  Credentials = Credentials.replace(/^Basic\\s+/,'')      // still Base64-encoded\n  try {\n    Credentials = (new Buffer(Credentials,'base64')).toString('utf8')\n  } catch (Signal) { return withAuthorizationRequest() }\n\n  let UserId   = Credentials.replace(/:.*$/,'').trim().toLowerCase()\n  let Password = Credentials.replace(/^[^:]+:/,'').trim()\n\n  let UserRegistry = global.get('UserRegistry') || Object.create(null)\n  if (UserId in UserRegistry) {\n    let UserSpecs = UserRegistry[UserId]\n    if (UserSpecs.Password === Password) {              // internal optimization\n      return withAuthorizationOf(UserId,UserSpecs.Roles || [])\n    }\n\n    let PBKDF2Iterations = global.get('PBKDF2Iterations') || 100000\n    crypto.pbkdf2(\n      Password, Buffer.from(UserSpecs.Salt,'hex'), PBKDF2Iterations, 64, 'sha512',\n      function (Error, computedHash) {\n        if ((Error == null) && (computedHash.toString('hex') === UserSpecs.Hash)) {\n          UserSpecs.Password = Password       // speeds up future auth. requests\n          return withAuthorizationOf(UserId,UserSpecs.Roles || [])\n        } else {\n          return withAuthorizationRequest()\n        }\n      }\n    )\n  } else {\n    return withAuthorizationRequest()\n  }\n\n  function withAuthorizationOf (UserId, UserRoles) {\n    if ((msg.requiredRole == null) || (UserRoles.indexOf(msg.requiredRole) >= 0)) {\n      msg.authenticatedUser = UserId\n      msg.authorizedRoles   = UserRoles\n      \n      node.send([msg,null])\n      node.done()\n    } else {\n      return withAuthorizationRequest()\n    }\n  }\n\n  function withAuthorizationRequest () {\n    msg.headers = msg.headers || {}\n    msg.headers['WWW-Authenticate'] = 'Basic'\n\n    msg.payload    = 'Unauthorized'\n    msg.statusCode = 401\n\n    node.send([null,msg])\n    node.done()\n  }\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 940,
        "y": 100,
        "wires": [
            [
                "e0e0d17d3102670c"
            ],
            [
                "368ab4163a1781fe"
            ]
        ]
    },
    {
        "id": "e64025c431b73536",
        "type": "reusable-in",
        "z": "2d76fa36687aa026",
        "name": "basic auth",
        "info": "describe your reusable flow here",
        "scope": "global",
        "x": 740,
        "y": 100,
        "wires": [
            [
                "044b8567a46bcbc1"
            ]
        ]
    },
    {
        "id": "e0e0d17d3102670c",
        "type": "reusable-out",
        "z": "2d76fa36687aa026",
        "name": "authorized",
        "position": 1,
        "x": 1150,
        "y": 80,
        "wires": []
    },
    {
        "id": "368ab4163a1781fe",
        "type": "reusable-out",
        "z": "2d76fa36687aa026",
        "name": "unauthorized",
        "position": "2",
        "x": 1150,
        "y": 120,
        "wires": []
    },
    {
        "id": "42afd0252abcde7b",
        "type": "http in",
        "z": "2d76fa36687aa026",
        "name": "",
        "url": "basic-auth",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 760,
        "y": 240,
        "wires": [
            [
                "a592efb9da32b941"
            ]
        ]
    },
    {
        "id": "a453e55d889e4f45",
        "type": "http response",
        "z": "2d76fa36687aa026",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1190,
        "y": 300,
        "wires": []
    },
    {
        "id": "15935af93c0fb448",
        "type": "change",
        "z": "2d76fa36687aa026",
        "name": "inform about success",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "successfully authorized",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 300,
        "wires": [
            [
                "a453e55d889e4f45"
            ]
        ]
    },
    {
        "id": "82171f093abb349a",
        "type": "comment",
        "z": "2d76fa36687aa026",
        "name": "try yourself",
        "info": "",
        "x": 740,
        "y": 180,
        "wires": []
    },
    {
        "id": "a592efb9da32b941",
        "type": "reusable",
        "z": "2d76fa36687aa026",
        "name": "",
        "target": "basic auth",
        "outputs": 2,
        "x": 950,
        "y": 240,
        "wires": [
            [
                "15935af93c0fb448"
            ],
            [
                "a453e55d889e4f45"
            ]
        ]
    },
    {
        "id": "a437ea9e9983f2b9",
        "type": "comment",
        "z": "2d76fa36687aa026",
        "name": "if used without \"node-red-within-express\"",
        "info": "",
        "x": 840,
        "y": 380,
        "wires": []
    },
    {
        "id": "ed50b5b2e94746c8",
        "type": "inject",
        "z": "2d76fa36687aa026",
        "name": "at Startup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 760,
        "y": 440,
        "wires": [
            [
                "4a4c700ae4ecd934"
            ]
        ]
    },
    {
        "id": "2d98c64a67e881e7",
        "type": "file in",
        "z": "2d76fa36687aa026",
        "name": "",
        "filename": "./registeredUsers.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 820,
        "y": 560,
        "wires": [
            [
                "70c82a6e25251a70"
            ]
        ]
    },
    {
        "id": "470b387186d7852a",
        "type": "catch",
        "z": "2d76fa36687aa026",
        "name": "",
        "scope": [
            "2d98c64a67e881e7",
            "70c82a6e25251a70"
        ],
        "uncaught": false,
        "x": 770,
        "y": 620,
        "wires": [
            [
                "46809118b7d27252"
            ]
        ]
    },
    {
        "id": "a52bccab8bc183a8",
        "type": "debug",
        "z": "2d76fa36687aa026",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "'could not load user registry'",
        "statusType": "jsonata",
        "x": 1170,
        "y": 620,
        "wires": []
    },
    {
        "id": "3eb566d1907d9b3b",
        "type": "debug",
        "z": "2d76fa36687aa026",
        "name": "Status",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "'user registry available'",
        "statusType": "jsonata",
        "x": 1190,
        "y": 440,
        "wires": []
    },
    {
        "id": "46809118b7d27252",
        "type": "function",
        "z": "2d76fa36687aa026",
        "name": "create in global context",
        "func": "  let UserRegistry = Object.create(null)\n    UserRegistry['node-red'] =  {\n      Roles: ['node-red'],\n      Salt: '4486e8d35b8275020b1301226cc77963',\n      Hash: 'ab2b740ea9148aa4f320af3f3ba60ee2e33bb8039c57eea2b29579ff3f3b16bec2401f19e3c6ed8ad36de432b80b6f973a12c41af5d50738e4bb902d0117df53'\n    }\n  global.set('UserRegistry',UserRegistry)\n\n  return msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 620,
        "wires": [
            [
                "a52bccab8bc183a8",
                "e0b359a7b5f90189"
            ]
        ]
    },
    {
        "id": "a463788d4c5c13ab",
        "type": "file",
        "z": "2d76fa36687aa026",
        "name": "",
        "filename": "./registeredUsers.json",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 1080,
        "y": 740,
        "wires": [
            [
                "53948a7e0233c789"
            ]
        ]
    },
    {
        "id": "0892a7393f0e2863",
        "type": "catch",
        "z": "2d76fa36687aa026",
        "name": "",
        "scope": [
            "a463788d4c5c13ab"
        ],
        "uncaught": false,
        "x": 770,
        "y": 860,
        "wires": [
            [
                "e50a7cafe871861b",
                "d97e0ea28a9f3c81"
            ]
        ]
    },
    {
        "id": "e50a7cafe871861b",
        "type": "debug",
        "z": "2d76fa36687aa026",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "'could not write user registry'",
        "statusType": "jsonata",
        "x": 910,
        "y": 900,
        "wires": []
    },
    {
        "id": "53948a7e0233c789",
        "type": "change",
        "z": "2d76fa36687aa026",
        "name": "restore payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "_payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "_payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 800,
        "wires": [
            [
                "1ce07b54225e17dd"
            ]
        ]
    },
    {
        "id": "d97e0ea28a9f3c81",
        "type": "change",
        "z": "2d76fa36687aa026",
        "name": "report in payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "'Internal Server Error'",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "500",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "_payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 860,
        "wires": [
            [
                "1ce07b54225e17dd"
            ]
        ]
    },
    {
        "id": "70c82a6e25251a70",
        "type": "function",
        "z": "2d76fa36687aa026",
        "name": "write to global context",
        "func": "  let UserSet = JSON.parse(msg.payload)                             // may fail!\n\n  let UserRegistry = Object.create(null)\n  for (let UserId in UserSet) {\n    if (UserSet.hasOwnProperty(UserId)) {\n      if ((UserId.indexOf('/') >= 0) || (UserId.indexOf(':') >= 0)) {\n        throw 'Invalid character in UserId found'\n      }\n      \n      UserRegistry[UserId.toLowerCase()] = UserSet[UserId]\n    }\n  }\n  global.set('UserRegistry',UserRegistry)\n\n  msg.payload = ''\n  return msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 560,
        "wires": [
            [
                "e0b359a7b5f90189"
            ]
        ]
    },
    {
        "id": "4f110197c9f2a334",
        "type": "function",
        "z": "2d76fa36687aa026",
        "name": "→ catch",
        "func": "// do not pass any msg from here!",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 500,
        "wires": [
            [
                "46809118b7d27252"
            ]
        ]
    },
    {
        "id": "687ebf9f0226b7dc",
        "type": "function",
        "z": "2d76fa36687aa026",
        "name": "→ catch",
        "func": "// do not pass any msg from here!",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 680,
        "wires": [
            [
                "d97e0ea28a9f3c81"
            ]
        ]
    },
    {
        "id": "848c6ddfb76643e4",
        "type": "function",
        "z": "2d76fa36687aa026",
        "name": "read from global context",
        "func": "  let UserRegistry = global.get('UserRegistry')\n  let UserSet = {}\n  for (let UserId in UserRegistry) {\n    if (UserRegistry[UserId] == null) {\n      UserSet[UserId] = null\n    } else {\n      let UserEntry = Object.assign({},UserRegistry[UserId])\n        delete UserEntry.Password     // never write passwords in plain text!\n      UserSet[UserId] = UserEntry\n    }\n  }\n\n  msg.payload = JSON.stringify(UserSet)\n  return msg\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 740,
        "wires": [
            [
                "a463788d4c5c13ab"
            ]
        ]
    },
    {
        "id": "e0b359a7b5f90189",
        "type": "reusable-out",
        "z": "2d76fa36687aa026",
        "name": "return",
        "position": 1,
        "x": 1190,
        "y": 500,
        "wires": []
    },
    {
        "id": "1ce07b54225e17dd",
        "type": "reusable-out",
        "z": "2d76fa36687aa026",
        "name": "return",
        "position": 1,
        "x": 1190,
        "y": 800,
        "wires": []
    },
    {
        "id": "254d667c7cc38a4e",
        "type": "reusable-in",
        "z": "2d76fa36687aa026",
        "name": "load or create UserRegistry",
        "info": "describe your reusable flow here",
        "scope": "global",
        "x": 800,
        "y": 500,
        "wires": [
            [
                "4f110197c9f2a334",
                "2d98c64a67e881e7"
            ]
        ]
    },
    {
        "id": "e50f6e5eb55f7d87",
        "type": "reusable-in",
        "z": "2d76fa36687aa026",
        "name": "write UserRegistry",
        "info": "describe your reusable flow here",
        "scope": "global",
        "x": 770,
        "y": 680,
        "wires": [
            [
                "687ebf9f0226b7dc",
                "848c6ddfb76643e4"
            ]
        ]
    },
    {
        "id": "4a4c700ae4ecd934",
        "type": "reusable",
        "z": "2d76fa36687aa026",
        "name": "",
        "target": "load or create userregistry",
        "outputs": 1,
        "x": 980,
        "y": 440,
        "wires": [
            [
                "3eb566d1907d9b3b"
            ]
        ]
    },
    {
        "id": "fe9d58b1f84fce63",
        "type": "inject",
        "z": "2d76fa36687aa026",
        "name": "show UserRegistry",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 790,
        "y": 1040,
        "wires": [
            [
                "663a2575d83ff39f"
            ]
        ]
    },
    {
        "id": "80fab4a14a0c61a7",
        "type": "comment",
        "z": "2d76fa36687aa026",
        "name": "for testing purposes",
        "info": "",
        "x": 770,
        "y": 980,
        "wires": []
    },
    {
        "id": "663a2575d83ff39f",
        "type": "function",
        "z": "2d76fa36687aa026",
        "name": "create output",
        "func": "let UserRegistry = global.get('UserRegistry') || Object.create(null)\n  let UserList = []\n  for (let UserId in UserRegistry) {\n    UserList.push(\n      UserRegistry[UserId] == null ? '[' + UserId + ']' : UserId\n    )\n  }\nmsg.payload = (\n  UserList.length === 0\n  ? '(no user registered)'\n  : 'registered users: \"' + UserList.join('\",\"') + '\"'\n)\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 1040,
        "wires": [
            [
                "62b2658722dbd9e7"
            ]
        ]
    },
    {
        "id": "62b2658722dbd9e7",
        "type": "debug",
        "z": "2d76fa36687aa026",
        "name": "show",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 1040,
        "wires": []
    }
]